@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: 'Quicksand';
    padding: 0;
    margin: 0;
}

.movie-container {
  width: 90%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.movie-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 20px;
}

.movie-container h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.filters input,
.filters select {
  padding: 8px;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.2s;
}

.filters input:focus,
.filters select:focus {
  border-color: #007bff;
}

.movie-table {
  width: 80%;
  margin: 0px auto;
  border-collapse: collapse;
  margin-bottom: 25px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
}

.movie-table th,
.movie-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.movie-table th {
  background-color: #007bff;
  color: white;
}

.movie-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.movie-table tr:hover {
  background-color: #eef5ff;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination button {
  padding: 8px 14px;
  border: none;
  background: #ddd;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover {
  background: #ccc;
}

.pagination button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.pagination .active {
  background: #007bff;
  color: white;
  font-weight: bold;
}
