@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: "Quicksand", sans-serif;
}

.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

.about-box {
  padding: 15px;
  background: #f4f4f4;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
}

.user-card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  background: #fafafa;
  transition: 0.2s ease-in-out;
}

.user-card:hover {
  transform: scale(1.02);
  background: #fff;
}
